.loader {
    width: 100px;
    height: 40px;
    --g: radial-gradient(farthest-side, #0000 calc(95% - 3px), #69abc1 calc(100% - 3px) 98%, #0000 101%) no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 30px 30px;
    animation: l9 1s infinite alternate;
}

@keyframes l9 {
    0% {
        background-position: 0 50%, 50% 50%, 100% 50%;
    }

    20% {
        background-position: 0 0, 50% 50%, 100% 50%;
    }

    40% {
        background-position: 0 100%, 50% 0, 100% 50%;
    }

    60% {
        background-position: 0 50%, 50% 100%, 100% 0;
    }

    80% {
        background-position: 0 50%, 50% 50%, 100% 100%;
    }

    100% {
        background-position: 0 50%, 50% 50%, 100% 50%;
    }
}

/* bodyCSS */
body {
    margin: 0;
    background-color: #ffffff;

    overflow-y: hidden;
}

/* gamesContainerCSS */
.gamesContainer {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 10px;
    margin: auto;
    padding-top: 40px;
    margin-top: 100px;
    overflow: auto;
    height: calc(100vh - 100px);
}

.gamesContainer::-webkit-scrollbar {
    display: none;
}

.stateContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 70%;
    padding-top: 40px;
    margin-top: 100px;
    height: calc(100vh - 100px);
    text-align: center;
    color: #000000;
}

@media (max-width: 458px) {
    .stateContainer {
        margin-top: 170px;
    }
}

@media (max-width: 512px) {
    .gamesContainer {
        margin-top: 170px;
    }
}

@media (max-width: 400px) {
    .gamesContainer {
        width: 90%;
    }
}


/* gameCardContainerCSS */
.gameCardContainer {
    background-color: #ffffff;
    color: #223f61;
    text-align: left;
    border-radius: 10px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
    width: 250px;
    height: 300px;
    margin: auto;
    transition: width 0.3s, height 0.3s;
    /* Add transition for width and height */
}

.gameCardContainer:hover {
    width: 270px;
    /* Increase width on hover */
    height: 320px;
    /* Increase height on hover */
}


/* cardHeaderCSS */
.cardHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background-color: #69abc1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    padding-left: 10px;
    height: 35%;
    width: 96.3%;
}

.cardHeader h2,
.cardHeader h4 {
    margin: 10px;
}

/* styles.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent background overlay */
    display: flex;
    justify-content: center;
    align-items: start;
}

.modal-content {
    margin-top: 140px;
    min-width: 180px;
    max-height: 60%;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 70%;
    overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    /* Set the height to 5px for horizontal scrollbar */
}

.modal-content::-webkit-scrollbar-thumb {
    background: #69abc1;
    border-radius: 5px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #223f61;
}

@media only screen and (max-width: 512px) {
    .modal-content {
        margin-top: 200px;
    }
}

/* CSS */
.titleWithLine {
    text-align: left;
    position: relative;
    /* To position the line relative to the title */
    display: inline-block;
    /* Ensures that the width of the container is based on its content */
}

.titleWithLine::after {
    content: '';
    /* Required for the pseudo-element */
    position: absolute;
    /* Position the line absolutely within the container */
    bottom: -10px;
    /* Adjust this value to control the distance between the line and the title */
    right: 0;
    /* Position the line starting from the left edge of the container */
    width: 100%;
    /* Make the line span the entire width of the container */
    height: 2px;
    /* Set the height of the line */
    background-color: #828080;
    /* Color of the line */
}

.normalText {
    font-weight: normal;
    display: inline-block;
    margin: 0px;
}

.styledText {
    font-family: italic;
    text-decoration: underline;
}

.gameDescription {
    max-height: 100px;
    /* Set the maximum height for the container */
    overflow: hidden;
    /* Hide any content that exceeds the specified height and width */
}

.modal-Button {
    margin: 0;
    position: sticky;
    display: inline-block;
    top: 0;
    z-index: 100;
}
