nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #223f61;
    position: absolute;
    width: 90%;
    height: 100px;
    font-size: 20px;;
}

@media only screen and (max-width: 490px) {
  nav {
      height: 150px; /* Adjust height for smaller screens */
  }
}

@media only screen and (max-width: 430px) {
  nav {
      height: 180px; /* Adjust height for smaller screens */
  }
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #223f61;
  color: #ffffff;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

@media only screen and (max-width: 490px) {
  .headerContainer {
      height: 150px;
  }
}

@media only screen and (max-width: 430px) {
  .headerContainer {
      height: 180px;
  }
}
  
a {
  float: left;
}
  
a {
  color: #ffffff;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}
  
a:hover {
  background-color: #3c5474;
}

.clickableIcon {
  width: 60px;
  height: 60px;
  right: 0;
  position: absolute;
}

@media only screen and (max-width: 430px) {
  .clickableIcon {
    bottom: 10px; 
  }
}

@media only screen and (max-width: 380px) {
  .clickableIcon {
    bottom: 50px; 
  }
}

